*{
    max-width: 1000px;
    align-items: center;
}


nav{
    display: flex;
    justify-content: space-around;
    
}

ul{
    display: flex;
    gap: 20px;
}

ul li{
    list-style-type: none;
    color: #575757;
    
}

.common-button{
    border: none;
    border-radius: 6px;
    color: #feffff;
    background-color: #1D4ED8;
    cursor: pointer;
    padding: 10px 25px;
}

.banner {
    background-image: url('./assets/banner.jpg');
    background-size: cover;       
    background-position: center;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.banner-text{
    color: white;
    background-color: none;
}

.banner p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    max-width: 500px;
}